.file-explorer-page {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.item {
  cursor: pointer;
  padding-left: 1rem;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

.action-btn {
  margin-left: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.action-btn-delete {
  margin-left: 1rem;
  cursor: pointer;
  width: 40px;
  height: 35px;
}

.rotate {
  transform: rotate(180deg);
}
